body {
  margin: 10vh auto;
  padding: 0;
  width: 1280px;
  background-color: #eeeeef;
  font-family: "Montserrat", sans-serif;

  background-image: url(../imagenes/contacto/bodyContacto.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* HEADER */
.logo {
  text-align: center;
  margin: 10px 0 10px 15px;
}

.barraImagen {
  height: 321px;
}

.barraImagen img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.barraImagen img:hover {
  filter: saturate(115%);
}

.navegacion {
  background-color: #d5d7d8;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.navegacion ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
  text-align: center;
  height: 50px;
}
.menu li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;

  font-weight: 800;
}

.menu li a:hover {
  color: #8c001a;
}

.submenu {
  position: absolute;
  background-color: #d5d7d8;
  top: 100%;
  left: 0;
  z-index: 20;
  display: none;
}

.submenu li a {
  display: block;
  width: 320px;
  padding: 10px;
  text-decoration: none;
  border-bottom: #9fa4a7 3px solid;
}
.submenu li:first-child {
  border-top: #9fa4a7 3px solid;
}

.menu li:hover .submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* FOOTER */

footer {
  height: 120px;
  margin-top: 72px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fraseFooter {
  flex-basis: 70%;
}

#fraseFooter p {
  font-family: "Just Me Again Down Here", cursive;
  font-size: 50px;
  text-align: left;
  padding-left: 10%;
  margin: 0;
  user-select: none;
}
#fraseFooter p:last-of-type {
  text-align: right;
  padding-right: 10%;
}

.redes {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}
.redes img {
  text-align: right;
  transition: all 0.3s ease-in-out;
  transform: scale(0.5);
}
.redes img:hover {
  transform: scale(0.6);
}
#hechoPor,
#hechoPor a {
  text-align: center;
  margin-bottom: 0;
  text-decoration: none;
  margin-top: 50px;
}

/* CONTACTO */

.contacto {
  display: flex;
  margin: 30px;
  background-color: #d5d7d870;
  min-height: 350px;
  justify-content: space-around;
  border-radius: 50px;
}
.contacto div {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contacto h2 {
  font-family: "Pattaya", sans-serif;
  font-size: 60px;
  color: #8c001a;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.096);
}
.contacto__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto__formulario {
  border-radius: 0 50px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formulario {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.formulario input,
.formulario textarea {
  width: 70%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.677);
  color: #8c001a;
  font-size: 1.1rem;
  border: none;
  border-radius: 20px;
  min-height: 8%;
  box-shadow: 5px 8px 4px -2px rgba(0, 0, 0, 0.096);
  transition: all 0.5 ease-in-out;
}

.formulario textarea {
  resize: none;
  height: 40%;
}

.formulario button {
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.677);
  border: none;
  min-height: 10%;
  min-width: 30%;
  border-radius: 20px;
  color: #8c001a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 5px 8px 4px -2px rgba(0, 0, 0, 0.096);
}
.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  transform: scale(1.1);
}
.formulario button:hover {
  color: rgba(255, 255, 255);
  background-color: #8c001a;
}
.formulario input::placeholder,
.formulario textarea::placeholder {
  color: #8c001a;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 801px) {
  body {
    margin: 0 auto;
    width: 100%;
    background-position: initial;
    background-size: 150%;
    background-repeat: repeat;
  }
  /* HEADER */
  .logo {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .logo img {
    width: 100%;
  }
  .barraImagen {
    height: auto;
  }

  .navegacion {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  }

  .submenu li a {
    width: 150px;
    line-height: 25px;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
  }

  /* FOOTER */

  footer {
    height: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  #fraseFooter {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
  }

  #fraseFooter p {
    font-size: 30px;
    text-align: center;
    padding-left: 0;
    margin: 0;
    user-select: none;
  }
  #fraseFooter p:last-of-type {
    text-align: center;
  }

  .redes {
    flex-basis: none;
  }
  .redes img {
    text-align: right;
    transition: all 0.3s ease-in-out;
    transform: scale(0.5);
  }
  .redes img:hover {
    transform: scale(0.6);
  }
  #fraseFooter {
    margin-top: 20px;
  }
  #hechoPor,
  #hechoPor a {
    margin-bottom: 8vh;
  }

  /* CONTACTO */

  .contacto {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
    padding: 10px;
    background-color: #d5d7d870;
    min-height: 0;
    border-radius: 0;
    border-bottom: #8c001a 4px solid;
  }
  .contacto div {
    flex-basis: none;
  }
  .contacto h2 {
    font-size: 47px;
    margin: 20px 0 20px 0;
  }
  .contacto__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
