body {
  margin: 10vh auto;
  padding: 0;
  width: 1280px;
  background-color: #eeeeef;
  font-family: "Montserrat", sans-serif;

  background-image: url(../imagenes/body1.jpeg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* HEADER */
.logo {
  text-align: center;
  margin: 10px 0 10px 15px;
}

.barraImagen {
  height: 321px;
}

.barraImagen img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.barraImagen img:hover {
  filter: saturate(180%);
}

.navegacion {
  background-color: #d5d7d8;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.navegacion ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu li {
  position: relative;
  display: inline-block;
  flex-basis: 25%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.menu li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;

  font-weight: 800;
}

.menu li a:hover {
  color: #4f7942;
}

.submenu {
  position: absolute;
  background-color: #d5d7d8;
  display: none;
}

.submenu li a {
  display: block;
  width: 320px;
  text-decoration: none;
  border-bottom: #9fa4a7 3px solid;
}
.submenu li:first-child {
  border-top: #9fa4a7 3px solid;
}

.menu li:hover .submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* FOOTER */

footer {
  height: 120px;
  margin-top: 72px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fraseFooter {
  flex-basis: 70%;
}

#fraseFooter p {
  font-family: "Just Me Again Down Here", cursive;
  font-size: 50px;
  text-align: left;
  padding-left: 10%;
  margin: 0;
  user-select: none;
}
#fraseFooter p:last-of-type {
  text-align: right;
  padding-right: 10%;
}

.redes {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}
.redes img {
  text-align: right;
  transition: all 0.3s ease-in-out;
  transform: scale(0.5);
}
.redes img:hover {
  transform: scale(0.6);
}
#hechoPor,
#hechoPor a {
  text-align: center;
  margin-bottom: 0;
  text-decoration: none;
  margin-top: 50px;
}

/* GALLERIA FLEX */

.panels {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.panels p {
  user-select: none;
}
.panel {
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.267);
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 13px rgba(255, 255, 255, 1);

  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  font-weight: 800;

  transition: font-size 0.7s cubic-bezier(0, 0.81, 0.39, 1.5),
    flex 0.7s cubic-bezier(0, 0.81, 0.39, 1.5),
    opacity 0.7s cubic-bezier(0, 0.81, 0.39, 1.5);
}

.panel.open {
  flex: 4;
  font-size: 40px;
}

.panel1 {
  background-image: url(../imagenes/slide/armonizacionesFINAL.jpg);
}
.panel2 {
  background-image: url(../imagenes/slide/masajeFINAL.jpg);
}
.panel3 {
  background-image: url(../imagenes/slide/fusionFINAL.jpg);
}
.panel4 {
  background-image: url(../imagenes/slide/meditacionFINAL.jpg);
}
.panel5 {
  background-image: url(../imagenes/slide/biomagnetismoFINAL.jpg);
}

.panel__boton {
  filter: opacity(0);
  border: none;
  background-color: #d5d7d88a;
  transition: filter 0.7 cubic-bezier(0, 0.81, 0.39, 1.5);
  border-radius: 20px;
  padding: 10px;
}
.panel__boton a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.botonActivo {
  filter: opacity(100%);
  font-size: 15px;
}

main {
  display: flex;
  flex-direction: column;
}
.articlePaneles {
  height: 637px;
}
.articleTextos {
  font-size: 20px;
  height: 680px;
  margin-bottom: 20px;

  background-image: url(../imagenes/fedeCuencos2.png);
  background-position: right;
  background-repeat: no-repeat;
}
.texto {
  width: 50%;
  text-align: left;
  padding: 0 0 20px 20px;
  background-color: #d5d7d88a;
  border-radius: 0 10% 10% 0;
}

.texto h2 {
  width: 86%;
  font-size: 44px;
  color: #4f7942;
  padding-top: 30px;
  font-family: "Pattaya", sans-serif;
  text-shadow: 3px 3px 2px #4f79424b;
}

/* MEDIA QUERY */

@media only screen and (max-width: 801px) {
  body {
    margin: 0 auto;
    width: 100%;
  }
  /* HEADER */
  .logo {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .logo img {
    width: 100%;
  }
  .barraImagen {
    height: auto;
  }

  .navegacion {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  }

  .submenu li a {
    width: 150px;
    line-height: 25px;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
  }

  /* FOOTER */

  footer {
    height: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  #fraseFooter {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
  }

  #fraseFooter p {
    font-size: 30px;
    text-align: center;
    padding-left: 0;
    margin: 0;
    user-select: none;
  }
  #fraseFooter p:last-of-type {
    text-align: center;
  }

  .redes {
    flex-basis: none;
  }
  .redes img {
    text-align: right;
    transition: all 0.3s ease-in-out;
    transform: scale(0.5);
  }
  .redes img:hover {
    transform: scale(0.6);
  }
  #hechoPor,
  #hechoPor a {
    margin-bottom: 8vh;
  }

  /* GALLERIA FLEX */

  .panels {
    display: flex;
    flex-direction: column;
  }
  .panel.open {
    font-size: 30px;
  }
  .panel__boton {
    margin-bottom: 12px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .articlePaneles {
    height: auto;
  }
  .articleTextos {
    font-size: 20px;
    height: auto;
    margin-bottom: 0;

    background-image: url(../imagenes/fedeCuencos2.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }
  .texto {
    width: 100%;
    text-align: left;
    padding: 0;
    background-color: #d5d7d88a;
    border-radius: 0;
    text-align: center;
    padding-bottom: 10px;
  }
  .texto p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .texto h2 {
    width: 100%;
    font-size: 34px;
    color: #4f7942;
    padding-top: 30px;
    font-family: "Pattaya", sans-serif;
    text-shadow: 3px 3px 2px #4f79424b;
  }
}
